<div class="section-header">
  <div class="container-fluid">
    <h1 class="text-center">Plans & Pricing</h1>
  </div>
</div>
<div class="section-price-card">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">Smart Quiz</h5>
            <p class="card-text text-center">Professional solution for individuals and educators</p>
          </div>
          <ul class="list-group">
            <li class="list-group-item">Unlimited quizzes</li>
            <li class="list-group-item">Unlimited questions</li>
            <li class="list-group-item">1,000 participant sessions per month</li>
            <li class="list-group-item">Question types: multiple choice, image, free text, fill in the blank</li>
            <li class="list-group-item">Import & export questions</li>
            <li class="list-group-item">View & export statistics</li>
            <li class="list-group-item">View & export rankings</li>
          </ul>
          <button type="button" class="btn btn-primary">Start my smart trial</button>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">Business Quiz</h5>
            <p class="card-text text-center">For small and medium business</p>
          </div>
          <ul class="list-group">
            <li class="list-group-item">Unlimited quizzes</li>
            <li class="list-group-item">Unlimited questions</li>
            <li class="list-group-item">25,000 participant sessions per month</li>
            <li class="list-group-item">Question types: multiple choice, image, free text, fill in the blank</li>
            <li class="list-group-item">Import & export questions</li>
            <li class="list-group-item">View & export statistics</li>
            <li class="list-group-item">View & export rankings</li>
          </ul>
          <button type="button" class="btn btn-primary">Start my Business trial</button>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">Corporate Quiz</h5>
            <p class="card-text text-center">For professional and large organisations</p>
          </div>
          <ul class="list-group">
            <li class="list-group-item">Unlimited quizzes</li>
            <li class="list-group-item">Unlimited questions</li>
            <li class="list-group-item">50,000 participant sessions per month</li>
            <li class="list-group-item">Question types: multiple choice, image, free text, fill in the blank</li>
            <li class="list-group-item">Import & export questions</li>
            <li class="list-group-item">View & export statistics</li>
            <li class="list-group-item">View & export rankings</li>
          </ul>
          <button type="button" class="btn btn-primary">Start my Corporate trial</button>
        </div>
      </div>
    </div>
  </div>
</div>
